.app-product {
  font-size: 15px;

  &__mainImage,
  &__mainImage-commonImage {
    width: 100%;
    aspect-ratio: 3/4;
    background-size: cover;
    background-position: center;
  }

  &__price {
    font-size: 25px;
    display: inline;
    &_line-through {
      text-decoration: line-through;
      color: var(--color-dropdown-2);
    }
  }

  &__quantity {
    color: var(--color-red);
  }

  &__dropdown {
    margin-top: 10px;
    font-size: 20px;
    position: relative;

    .img {
      height: 50px;
      width: 50px;
      object-fit: cover;
    }

    &-selected {
      cursor: pointer;
      &-icon {
        transition: 0.3s;
      }

      .--rotate {
        transform: rotate(180deg);
      }
    }

    &-list {
      transition: 0.3s;
      margin-top: 10px;
      position: absolute;
      width: 100%;
      &-element {
        cursor: pointer;
        transition: 0.2s;
        &:hover {
          box-shadow: 3px 0px var(--color-black);
        }
      }
    }

    &-selected,
    &-list-element {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      background: var(--color-white);
    }
  }
}
