:root {
  --color-primary: #e2d2b9;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-brown: #5d360e;
  --color-dropdown: #cbb6aa;
  --color-dropdown-2: #8d7e76;
  --color-hover: #9b7762;
  --color-red: #ef3333;
}
