:root {
  --color-primary: #e8e8e8;
  --color-secondary: #b4b4b4;
  --color-gray: #676767;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-brown: #5d360e;
  --color-dropdown: #cbb6aa;
  --color-dropdown-2: #8d7e76;
  --color-hover: #9b7762;
  --color-red: #ef3333;
}
